<div class="console-session">
  <h4>{{ title }}</h4>
  <pre><code class="{{ language }}">{{#jobs}}<div class="in">{{& in.text }}</div><div class="out">{{& out.text }}</div>{{/jobs}}</code>
  </pre>
</div>
